@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: 'Playfair Display', sans-serif;
}

.title , p {
            color: rgb(255, 255, 255);
            font-size: 4em;
            text-align: center;
            margin-top: 10px;
}

.Name , p {
    color: white;
    font-size: 2em;
}

.Skill , p {
    color: white;
    font-size: 2em;
}

.Certificate , p {
    color: white;
    font-size: 2em;
}
  
.Contrack , p {
    color: white;
    font-size: 2em;
}


  
    /* *{ 
            color: red!important;
        } */